/* Proposed default configuration for xtrek
 *
 * Galaxy is the original xtrek layout ...
 */

empire Federation 	F robot name = "M5"	  ;
empire Romulan 		R robot name = "Colossus" ;
empire Klingon    	K robot name = "Guardian" ;
empire Orion 		O robot name = "HAL 9000" ;

global
	cool penalty     = 1.25
	death time = 4
	phaser fire time = 1
	torp life min = 7
	torp life var = 2
	mine life min = 60
	mine life var = 120
	player explode time = 1
	weapon lock min = 10
	weapon lock var = 15
	engine lock min = 10
	engine lock var = 15
	self destruct time = 5
	robot giveup time = 60
	orbit speed = 20
	detonate distance = 1500
	orbit distance = 900
	planet fire distance = 900
	phaser hit-angle = 5
	phaser hit-langle = 10
	auto-quit = 180
     ;

default ship
	warp heat = 32
	torp heat = 150
	mine heat = 300
	phaser heat = 220
;	


/*
 * Define ship parameters.
 */

ship Federation

teleport range		= 0
teleport cost		= 0
teleport heat		= 0
turbo speed		= 0
turbo time		= 0
recharge		= 45 
turns			= 6000
accint			= 250
decint			= 180
phaser damage		= 40
phaser cost		= 400 
phaser pulses		= 2
phaser range		= 6000
mine cost		= 768
mine damage		= 48
mine range		= 1200
torp damage		= 24
torp cost		= 400
torp speed		= 160
torp range		= 600
detonate cost		= 75 
shield repair		= 21
warp cost		= 6
cloak cost		= 60
max damage		= 200
shield max		= 200
reload			= 4
burst			= 1
weapon cool		= 25
engine cool		= 200
max speed		= 90
max armies		= 10
max fuel		= 10000
cruise			= 50
battle			= 50
flee			= 60
cloaked			= 50
refresh			= 40
engage			= 10000
disengage		= 20000
sneaky			= 10
cloak min		= 4000
cloak max		= 12000
shotdamage		= 0
circledist		= 7000
;


ship Romulan

teleport range		= 0
teleport cost		= 0
teleport heat		= 0
turbo speed		= 0
turbo time		= 0
recharge		= 30
turns			= 5500
accint			= 230
decint			= 150
phaser damage		= 20
phaser cost		= 200 
phaser pulses		= 3
phaser range		= 6000
mine cost		= 1024
mine damage		= 64
mine range		= 1600
torp damage		= 32
torp cost		= 512
torp speed		= 145
torp range		= 650
detonate cost		= 125 
shield repair		= 18 
warp cost		= 4
cloak cost		= 20
max damage		= 180
shield max		= 200
reload			= 4
burst			= 0
weapon cool		= 40
engine cool		= 190
max speed		= 90
max armies		= 8
max fuel		= 10000
cruise			= 50
battle			= 40
flee			= 75
cloaked			= 30
refresh			= 45
engage			= 10000
disengage		= 20000
sneaky			= 75
cloak min		= 4000
cloak max		= 18000
shotdamage		= 0
circledist		= 5000
;


ship Klingon

teleport range		= 0
teleport cost		= 0
teleport heat		= 0
turbo speed		= 0
turbo time		= 0
recharge		= 35 
turns			= 7500
accint			= 280
decint			= 190
phaser damage		= 50
phaser cost		= 500 
phaser pulses		= 2
phaser range		= 8000
mine cost		= 512
mine damage		= 32
mine range	= 1000
torp damage		= 16
torp cost		= 256 
torp speed		= 170
torp range	= 625
detonate cost		= 100 
shield repair		=  20 
warp cost		= 3
cloak cost		= 30
max damage		= 160
shield max		= 160
reload			= 2
burst			= 1
weapon cool		= 32
engine cool		= 210
max speed		= 80
max armies		= 8
max fuel		= 10000
cruise			= 40
battle	        	= 50
flee			= 80
cloaked			= 55
refresh			= 40
engage			= 10000
disengage		= 20000
sneaky			= 30
cloak min		= 4000
cloak max		= 13000
shotdamage		= 0
circledist		= 7000
;

ship Orion 

teleport range		= 0
teleport cost		= 0
teleport heat		= 0
turbo speed		= 0
turbo time		= 0
recharge		= 40
turns			= 9100
accint			= 330
decint			= 230
phaser damage		= 10
phaser cost		= 100 
phaser pulses		= 6
phaser range		= 5000
mine cost		= 512
mine damage		= 32
mine range		= 1000
torp damage		= 12
torp cost		= 275
torp speed		= 190
torp range		= 550
detonate cost		= 100 
shield repair		= 19 
warp cost		= 2
cloak cost		= 40
max damage		= 160
shield max		= 200
reload			= 1
burst			= 3
weapon cool		= 25
engine cool		= 220
max speed		= 110
max armies		= 6
max fuel		= 8000
cruise			= 80
battle			= 60
flee			= 90
cloaked			= 60
refresh			= 45
engage			= 10000
disengage		= 20000
sneaky			= 50
cloak min		= 4000
cloak max		= 15000
shotdamage		= 0
circledist		= 9000

;


/* Define all the planets. */

default planet armies=30;

planet "Earth"      Federation  (20000, 80000) home fuel repair;
planet "Sasus"      Federation  (10000, 60000);
planet "Candeleron" Federation  (25000, 60000);
planet "Beta III"   Federation  (44000, 81000);
planet "Janus"      Federation  (33000, 55000);
planet "Deneb VI"   Federation  (30000, 90000);
planet "Ceti IV"    Federation  (45000, 66000);
planet "Altar"      Federation  (11000, 75000);
planet "Dekar"      Federation  (8000, 93000);
planet "Daltus"     Federation  (32000, 74000);
planet "Romulus"    Romulan  (20000, 20000) home fuel repair;
planet "Ethen"      Romulan  (45000, 7000);
planet "Amur"       Romulan  (4000, 12000);
planet "Remus"      Romulan  (42000, 44000);
planet "Bal"        Romulan  (13000, 45000);
planet "Tahndar"    Romulan  (28000, 8000);
planet "Dact"       Romulan  (28000, 23000);
planet "Sirius II"  Romulan  (40000, 25000);
planet "Rakhir"     Romulan  (25000, 44000);
planet "Rus"        Romulan  (8000, 29000);
planet "Klin"       Klingon  (80000, 20000) home fuel repair;
planet "Malatrakir" Klingon  (70000, 40000);
planet "Amakron"    Klingon  (60000, 10000);
planet "Laltir"     Klingon  (54000, 40000);
planet "Khartair"   Klingon  (93000, 8000);
planet "Monpur III" Klingon  (90000, 37000);
planet "Sectus"     Klingon  (69000, 31000);
planet "Makus"      Klingon  (83000, 48000);
planet "Gendus"     Klingon  (73000, 5000);
planet "Jakar"      Klingon  (54000, 21000);
planet "Orion"      Orion  (80000, 80000) home fuel repair;
planet "Amterion"   Orion  (92000, 59000);
planet "Lumecis"    Orion  (65000, 55000);
planet "Bitar V"    Orion  (52000, 60000);
planet "Prastan"    Orion  (72000, 69000);
planet "Sorlen"     Orion  (64000, 80000);
planet "Zetus"      Orion  (56000, 89000);
planet "Jih"        Orion  (91000, 94000);
planet "Markus II"  Orion  (70000, 93000);
planet "Oren"       Orion  (85000, 70000);
