/* UBC many-empire scenario */

empire Goofs      GOF robot name = "Generator"                    ;
empire Fools      FOL robot name = "Flipper" icon = "f14.b"     ;
empire Morons     MOR robot name = "Maytag"                       ;
empire Twits      TWT robot name = "Tweezer"                      ;
empire Bogons     BOG robot name = "Boxleiter"    icon = "rom.b" ; 
empire Dolts      DOL robot name = "Dribble"   icon  = "hawk.b"   ;
empire Jerks      JRK robot name = "Jones"     icon  = "mike.b"   ;
empire Idiots     IDI robot name = "Imbecile"  icon  = "idiot.b"  ;

/*
 *  Global parameters
 */

global
       fast destruct
       cool penalty     = 1.2
       planet fire distance = 900
       robot giveup time = 10
	torp life min = 4		/* 4 seconds */
       torp life var = 2
       mine detonate
       ;
/*
 * Define ship parameters.
 */

default ship
/* fuel costs */

               detonate cost = 100
               phaser cost = 200 
               torp cost = 100
               teleport cost = 2000 
               warp cost = 5
               cloak cost = 30

/* weapon heats */
               phaser heat = 500 		/* 10 degrees */
               torp heat = 200 	 		/* 2 degrees */
               mine heat = 600 		        /* 10 degrees */ 
               detonate heat = 300 		/* 5 degrees */

/* engine heats */
               teleport heat = 5000
               warp heat = 32

               weapon cool   = 25
               engine cool   = 220 		/* warp 7 if shields down */
						/* 7 * 32 = 220 or so */
               srsensor fail = 1000

	       turbo speed   = 300
	       turbo time    = 10
               teleport range= 6000
               recharge      = 45 
               turns         = 27000
               accint        = 250
               decint        = 250
               phaser damage = 30
               phaser pulses     = 2
               phaser range  = 6000
               torp damage   = 20
               torp speed    = 160
               shield repair = 21
               max damage    = 200
               shield max	= 200
               reload        = 3
               burst         = 12

               max speed     = 90
               max armies    = 10
               max fuel      = 10000
               cruise        = 50
               battle        = 50
               flee          = 60
               cloaked       = 50
               refresh       = 40
               ;

/* Define all the planets. */

default planet armies=20;

/* 1st row */

planet "Candeleron" Goofs  ( 7000 , 7000) fuel;
planet "Sasus"      Goofs  ( 27000, 7000);
planet "Earth"      Goofs  ( 17000, 17000) fuel repair;
planet "Beta III"   Goofs  ( 7000 , 27000);
planet "Janus"      Goofs  ( 27000, 27000) repair;

planet "Deneb VI"   Jerks  ( 40000, 7000) fuel;
planet "Ceti IV"    Jerks  ( 60000, 7000);
planet "Altar"      Jerks  ( 50000, 17000) fuel repair;
planet "Dekar"      Jerks  ( 40000, 27000);
planet "Daltus"     Jerks  ( 60000, 27000) repair;

planet "Romulus"    Dolts  ( 73000, 7000) fuel;
planet "Ethen"      Dolts  ( 93000, 7000);
planet "Amur"       Dolts  ( 83000, 17000) fuel repair;
planet "Remus"      Dolts  ( 73000, 27000);
planet "Bal"        Dolts  ( 93000, 27000) repair;

/* 2nd row */

planet "Tahndar"    Fools  ( 7000 , 40000) fuel;
planet "Dact"       Fools  ( 27000, 40000);
planet "Sirius II"  Fools  ( 17000, 50000) fuel repair;
planet "Rakhir"     Fools  ( 7000 , 60000);
planet "Rus"        Fools  ( 27000, 60000) repair;

planet "Klin"       Morons  ( 73000, 40000) fuel;
planet "Malatrakir" Morons  ( 93000, 40000);
planet "Amakron"    Morons  ( 83000, 50000) fuel repair;
planet "Laltir"     Morons  ( 73000, 60000);
planet "Khartair"   Morons  ( 93000, 60000) repair;

/* 3rd row */

planet "Twity"      Twits  ( 7000 , 73000) fuel;
planet "Amterion"   Twits  ( 27000, 73000);
planet "Lumecis"    Twits  ( 17000, 83000) fuel repair;
planet "Bitar V"    Twits  ( 7000 , 93000);
planet "Prastan"    Twits  ( 27000, 93000) repair;

planet "Sorlen"     Bogons  ( 40000, 73000) fuel;
planet "Zetus"      Bogons  ( 60000, 73000);
planet "Jih"        Bogons  ( 50000, 83000) fuel repair;
planet "Markus II"  Bogons  ( 40000, 93000);
planet "Oren"       Bogons  ( 60000, 93000) repair;

planet "Monpur III" Idiots  ( 73000, 73000) fuel;
planet "Sectus"     Idiots  ( 93000, 73000);
planet "Makus"      Idiots  ( 83000, 83000) fuel repair;
planet "Gendus"     Idiots  ( 73000, 93000);
planet "Jakar"      Idiots  ( 93000, 93000) repair;
