/* UBC scenario: modified TV show  */

empire Federation F robot name ="USS Constitution";
/*Heavy ship: sluggish: tough: good phasers: cloak expensive: good for beginers*/

empire Romulan R robot name = "Bird-of-Prey";
/*small: "submarine": torps powerful but expensive: great cloak: good for experts*/

empire Klingon    K robot name = "Hellion";
/*medium-large: pretty tough: good phasers, but weak torps: fair cloak: good all around ship: good for beginers or experts*/

empire Orion O robot name = "Hornet";
/*very small, agile, and fast:  "Suicide ship": no sheilds: weapons fast: good cooling: poor cloak: good for experts or copilots*/


global
	cool penalty     = 1.30
	robot giveup time = 10
	death time = 4
	phaser fire time = 3
	torp life min = 4
	torp life var = 1
	mine life min = 1
	mine life var = 1
	player-explode-time = 1
	weapon lock min = 10
	weapon lock var = 15
	engine lock min = 12
	engine lock var = 10
	self destruct time = 5
	robot giveup time = 60
	orbit speed = 30
	detonate distance = 0
	orbit distance= 950
	planet fire distance = 950
	phaser hit-angle = 2
	phaser hit-langle = 4
	auto-quit = 180
     ;
default ship
	warp heat = 32
	torp heat = 600
	phaser heat = 160
;
/* Define ship parameters.*/




ship Federation
               teleport range		= 0
	 teleport cost		= 0
	 teleport heat		= 0
	 turbo speed		= 0
	 turbo time		= 0
	 recharge      = 45 
               turns         = 16000
               accint        = 250
               decint        = 200
               phaser damage = 5
               phaser cost   = 60 
	 phaser pulses	= 10
	 mine cost	= 21000
	 mine damage	= 10000
	 mine range	= 10000
               phaser range  = 6400
               torp damage   = 25
               torp cost     = 400
               torp range	= 550 
	 torp speed    = 180
               detonate cost      = 0 
               shield repair = 45
               warp cost     = 7
               cloak cost    = 130
               max damage    = 240
               shield max    = 200
               reload        = 18
               burst         = 0
               weapon cool   = 4
               engine cool   = 240 
               max speed     = 90
               max armies    = 0
               max fuel      = 14000
               cruise        = 45
               battle        = 45
               flee          = 75
	 engage		= 10000
	 disengage	= 20000
               cloaked       = 50
               refresh       = 40
	 shotdamage = 0
	 circledist = 5000
	 sneaky			= 0
	 cloak min		= 2000
	 cloak max		= 2001
               ;


ship Romulan
	 torp heat =1000
	 phaser heat = 150
               teleport range		= 0
	 teleport cost		= 0
	 teleport heat		= 0
	 turbo speed		= 0
	 turbo  time		= 0
               recharge      = 30
               turns         = 25000
               accint        = 260
               decint        = 150
               phaser damage = 4
               phaser cost   = 50 
               phaser pulses     = 8
               phaser range  = 4800
	 mine cost	= 10000
	 mine damage	= 10000
	 mine range	= 10000
               torp damage   = 80
               torp cost     = 1000
               torp speed    = 220
               torp range	=650 
	 detonate cost      = 0 
               shield repair =  7 
               warp cost     = 2
               cloak cost    = 24
               max damage    = 50
               shield max    = 65
               reload        = 24
               burst         = 0
               weapon cool   = 3 
               engine cool   = 220
               max speed     = 70
               max armies    =  0
               max fuel      = 7000
               cruise        = 55
               battle        = 50
               flee          = 70
               cloaked       = 34
	 engage		= 20000
	 disengage	= 22001
               refresh       = 30
	 shotdamage = 0
	 circledist = 8000 
	 sneaky			= 100
	 cloak min		= 7000
	 cloak max		= 100000
	 shotdamage		= 0              
	  ;

ship Orion
	  phaser heat = 400
                teleport range		= 0
	  teleport cost		= 0
	  teleport  heat		= 0
	  turbo speed		= 0
	  turbo time		= 0
                recharge      = 40
                turns         = 120000
                accint        = 380
                decint        = 300
                phaser damage = 20
                phaser cost   = 220 
                phaser pulses     = 2
                phaser range  = 5600
	  mine cost	= 10000
	  mine damage	= 10000
	  mine range	= 10000
                torp damage   = 42 
                torp cost     = 750
                torp speed    = 240
                torp range	=600 
                detonate cost      = 400 
                shield repair = 5 
                warp cost     = 1
                cloak cost    = 55
                max damage    = 20
                shield max    = 10
                reload        = 12
                burst         = 0
                weapon cool   = 4
                engine cool   = 450
                max  speed     = 110
                max armies    = 0
                max  fuel      = 4000
                cruise        = 99
                battle        = 80
                flee          = 99
                cloaked       = 99
	  engage		= 12000
	  disengage	= 25000
                refresh       = 7
	  shotdamage =0
	  circledist = 11000
	 sneaky			= 2
	 cloak min		= 7000
	 cloak max		= 15000
	 shotdamage		= 0
	 ;
ship Klingon
	 torp heat = 400
               teleport range		= 0
	 teleport cost		= 0
	 teleport heat		= 0
	 turbo speed		= 0
	 turbo time		= 0
               recharge      = 42 
               turns         = 15000
               accint        = 200
               decint        = 180
               phaser damage = 9
               phaser cost   = 90 
               phaser pulses     = 10
               phaser range  = 6900
	 mine cost	= 20000
	 mine damage	= 10000
	 mine range	= 10000
               torp damage   = 16
               torp  cost     = 160 
               torp speed    = 189
               torp range	=600 
	 detonate cost      = 0 
               shield repair =  30 
               warp cost     = 6
               cloak cost    = 82
               max damage    = 220
               shield max    = 180
               reload        = 18
               burst         = 0
               weapon cool   = 4
               engine cool   =280
               max speed     = 89
               max armies    = 0
               max fuel      =12000
               cruise        = 50
               battle        = 43
               flee          = 80
               cloaked       = 60
	 engage		= 18000
	 disengage	= 20000
               refresh       = 40
	 shotdamage = 0
	 circledist = 4000
	 sneaky			= 2
	 cloak min		= 3600
	 cloak max		= 18000
	 shotdamage		= 0
               ;




/* Define all the planets. */

default planet armies=20;

planet "Earth"      Federation  (20000, 80000) home fuel repair;
planet "Sasus"      Federation  (10000, 60000);
planet "Candeleron" Federation  (25000, 60000);
planet "Beta III"   Federation  (44000, 81000);
planet "Janus"      Federation  (33000, 55000);
planet "Vega"   Federation  (30000, 90000);
planet "Ceti Alpha V"    Federation  (45000, 66000);
planet "Altar"      Federation  (11000, 75000);
planet "Vulcan"      Federation  (8000, 93000);
planet "Mars"     Federation  (25000, 74000) fuel;
planet "Romulus"    Romulan  (20000, 20000) home fuel repair;
planet "Ethen"      Romulan  (45000, 7000);
planet "Amur"       Romulan  (4000, 12000);
planet "Grak"      Romulan  (42000, 44000);
planet "Bal"        Romulan  (13000, 45000);
planet "Zanzabar"    Romulan  (28000, 8000);
planet "Remus"       Romulan  (28000, 23000) fuel;
planet "Sirius II"  Romulan (40000, 25000);
planet "Rakhir"     Romulan  (25000, 44000);
planet "Rus"        Romulan  (8000, 29000);
planet "Klin"       Klingon  (80000, 80000) home fuel repair;
planet "Laltir"     Klingon (85000, 70000) fuel;
planet "Malatrakir" Klingon (92000, 59000) ;
planet "Amakron"    Klingon   (65000, 55000);
planet "Khartair"   Klingon  (52000, 60000);
planet "Monpur III" Klingon (72000, 69000);
planet "FooBar"     Klingon  (64000, 80000);
planet "Makus"      Klingon  (56000, 89000);
planet "Doherty"     Klingon  (70000, 93000);
planet "Gor"      Klingon  (91000, 94000);
planet "Orion"      Orion  (80000, 20000) home fuel repair;
planet "Oren"       Orion   (71000, 28000) fuel;
planet "Amterion"   Orion  (70000, 40000);
planet "Lumecius"    Orion (64000, 10000);
planet "Bitar V"    Orion  (93000, 8000);
planet "Prastan"    Orion  (90000, 37000);
planet "Sorlen"     Orion  (52000, 23000);
planet "Zetus"      Orion  (83000, 48000) ;
planet "Markus II"  Orion  (73000, 5000);
planet "Bodek"        Orion  (54000, 40000);


