# /* $Header: /a/cvs/386BSD/ports/editor/point/Make.dist,v 1.1 1994/02/15 22:12:34 jkh Exp $ */
#
# Point - a text editor for X Windows
#
# Author: Charles Crowley
#         Computer Science Dept.
#         University of New Mexico
#         Albuquerque, NM 87131
#         (office) 505-277-5446
#         (messages) 505-277-3112
#         (net) crowley@unmvax.cs.unm.edu
#
# **************** CHANGES REQUIRED ***************
# This must be set to where you have the Tcl include file
TCL_INCDIR	= LocationOfTclInclude
# This must be set to where you have the Tk include file
TK_INCDIR	= LocationOfTkInclude
# This must be set to where you have the Tcl libary
TCL_LIBDIR	= LocationOfTclLibraries
# This must be set to where you have the Tk libary
TK_LIBDIR	= LocationOfTkLibraries

# This must be set to the library of Point tcl files
POINT_LIBRARY   = FullPathNameOfPointDistribution/tclLib
# **************** END OF CHANGES REQUIRED ***************

TK_INCLUDES =	-I${TCL_INCDIR} -I${TK_INCDIR}

CFLAGS =	-O ${TK_INCLUDES} -DPOINT_LIBRARY=\"${POINT_LIBRARY}\"

LDFLAGS =	-O ${TCL_LIBDIR}/libtcl.a ${TK_LIBDIR}/libtk.a -lX11 -lm

CC =		cc

OBJS	= anaDialogs.o anaObjects.o anaSources.o browser.o \
	buffers.o cmdTable.o command.o copymove.o cursor.o \
	display.o fileio.o  findfiles.o findpos.o goto.o \
	inschar.o insdel.o  library.o lines.o mouse.o options.o piece.o \
	point.o pt.o regex.o repaint.o replace.o search.o select.o \
	spans.o stats.o tags.o tcl.o undoredo.o \
	version.o windows.o shellWindow.o

point: $(OBJS)
	-rm -f point
	${CC} -o point $(OBJS) $(LDFLAGS)

clean:
	rm -f $(OBJS) point pt

