***************
*** 88,91
- extern	int TIFFGetField(TIFF*, int, ...);
- extern	int TIFFVGetField(TIFF*, int, va_list);
- extern	int TIFFGetFieldDefaulted(TIFF*, int, ...);
- extern	int TIFFVGetFieldDefaulted(TIFF*, int, va_list);
--- 88,91 -----
+ extern	int TIFFGetField(TIFF*, unsigned int, ...);
+ extern	int TIFFVGetField(TIFF*, unsigned int, va_list);
+ extern	int TIFFGetFieldDefaulted(TIFF*, unsigned int, ...);
+ extern	int TIFFVGetFieldDefaulted(TIFF*, unsigned int, va_list);
***************
*** 108,109
- extern	int TIFFSetField(TIFF*, int, ...);
- extern	int TIFFVSetField(TIFF*, int, va_list);
--- 108,109 -----
+ extern	int TIFFSetField(TIFF*, unsigned int, ...);
+ extern	int TIFFVSetField(TIFF*, unsigned int, va_list);
